.App {
  text-align: center;
  background-color: #1D1D1D;
  color: #f2f2f2;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.predicted {
  /* font-weight: 700; */
  font-family: 'Elsie', cursive;
  font-size: 10rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
